Unable to send frames after GOAWAY is submitted

I'm working on proper connection termination and when receiving a GOAWAY frame, as a proxy, I am supposed to forward it. The processing behaves like this:
1. nghttp2_session_on_goaway_received is called
2. _GOAWAY_RECV flag is set
3. session_close_stream_on_goaway is called closing all streams with higher stream IDs with _ERR_REFUSED_STREAM
4. The proxy submits a new GOAWAY frame to the other session
5. _GOAWAY_TERM_ON_SEND flag is set on that session
6. Sending any frame through such stream fails with _ERR_SESSION_CLOSING

In section 6.8 of RFC7540 there is a paragraph "Activity on streams numbered lower or equal..." that states that streams with ID <= last_stream_id may still be in progress, which is impossible if the proxy is unable to send any frame.

The second problem I ran into was when trying to induce error that leads to submission of GOAWAY internally to the proxy. The procedure was following:
1. Under the debugger I raised a frame size error in _session_mem_recv of a server-side session
2. nghttp2_session_terminate_session_with_reason is called
3. GOAWAY is submitted with last_stream_id of session->last_proc_stream_id, which is a client-initiated ID
4. The frame is sent 
5. session_close_stream_on_goaway is called from session_after_frame_sent1
6. None of the existing stream is closed with _ERR_REFUSED_STREAM as nothing is returned by _map_each function

This results in deadlock of the connection. Streams with ID <= last_stream_id will be ignored by the remote and frames to existing streams can't be submitted due to reasons described above. To check whether an error occurred, should I check _on_frame_send/not send callbacks for GOAWAY?
