1.17.0 - curl: (92) HTTP/2 stream 1 was not closed cleanly: PROTOCOL_ERROR (err 1)

```
# curl -V
curl 7.51.0 (arm-buildroot-linux-gnueabihf) libcurl/7.51.0 OpenSSL/1.0.2j zlib/1.2.8 nghttp2/1.17.0
Protocols: dict file ftp ftps gopher http https imap imaps pop3 pop3s rtsp smb smbs smtp smtps telnet tftp
Features: IPv6 Largefile NTLM SSL libz TLS-SRP HTTP2 UnixSockets
# curl -iL --http1.1 https://clients3.google.com/generate_204
HTTP/1.1 204 No Content
Content-Length: 0
Date: Fri, 02 Dec 2016 11:55:29 GMT
Alt-Svc: quic=":443"; ma=2592000; v="36,35,34"
# curl -iL https://clients3.google.com/generate_204
curl: (92) HTTP/2 stream 1 was not closed cleanly: PROTOCOL_ERROR (err 1)
```

I _think_ this happens because of https://github.com/nghttp2/nghttp2/pull/723 that now bails when a Content-Length header is returned with a 204.

Apparently Google is inserting the Content-Length header anyway.

It looks like Google violates [RFC 7230 section 3.3.2](https://tools.ietf.org/html/rfc7230#section-3.3.2), but considering their wide spread use, we should revert part of the changes we made in that PR.

FYI I just started getting this yesterday. Not sure what happened, while developing, it worked fine. As soon as I changed to public DNS from hosts file DNS it stopped working.

Initially i had ub_16.04.3, curl 7.54.1, nghttp2 1.23, & nginx 1.13.2 when the error started happening. 

I updated to curl 7.55.1 & nghttp2 1.25 to try and fix, but I still get it.
curl 7.55.1 (x86_64-pc-linux-gnu) libcurl/7.55.1 OpenSSL/1.1.0f zlib/1.2.8 libssh2/1.5.0 nghttp2/1.25.0 librtmp/2.3

I have changed incoming connections to force http1_1 and it works. 

From the CLI i can issue:

> root@###:~  # curl https://example.com/ --http2
> curl: (92) HTTP/2 stream 1 was not closed cleanly: PROTOCOL_ERROR (err 1)
> 
> root@###:~  # curl https://example.com/ --http1.1
> !DOCTYPE html>
> html>
>   head>etc...

My API is powered by ruby and passenger5 compiled into nginx, not via a proxy, if that matters. 

Any thoughts?


Could you share the debug log of curl, -v or --trace?

Silly me, I would have seen the issue if I knew about checking the -v option. 

The issue looks to be the CSP policy. It is a valid policy (per https://cspvalidator.org/), if a bit unwieldy. It is included from another site config, which was added about the same time this went to public DNS, so that was the problem. But shouldn't it work with that?

*   Trying 2600:3c03::f03c:91ff:fe7a:a4e...
* TCP_NODELAY set
* Connected to api.example.com (2600:3c03::f03c:91ff:fe7a:a4e) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* Cipher selection: ALL:!EXPORT:!EXPORT40:!EXPORT56:!aNULL:!LOW:!RC4:@STRENGTH
* successfully set certificate verify locations:
*   CAfile: /var/www/certs/cacert.pem
  CApath: none
* TLSv1.2 (OUT), TLS handshake, Client hello (1):
* TLSv1.2 (IN), TLS handshake, Server hello (2):
* TLSv1.2 (IN), TLS handshake, Certificate (11):
* TLSv1.2 (IN), TLS handshake, Server key exchange (12):
* TLSv1.2 (IN), TLS handshake, Server finished (14):
* TLSv1.2 (OUT), TLS handshake, Client key exchange (16):
* TLSv1.2 (OUT), TLS change cipher, Client hello (1):
* TLSv1.2 (OUT), TLS handshake, Finished (20):
* TLSv1.2 (IN), TLS handshake, Finished (20):
* SSL connection using TLSv1.2 / ECDHE-ECDSA-CHACHA20-POLY1305
* ALPN, server accepted to use h2
* Server certificate:
*  subject: CN=web01.example.com
*  start date: Aug 29 12:10:00 2017 GMT
*  expire date: Nov 27 12:10:00 2017 GMT
*  subjectAltName: host "api.example.com" matched cert's "api.example.com"
*  issuer: C=US; O=Let's Encrypt; CN=Let's Encrypt Authority X3
*  SSL certificate verify ok.
* Using HTTP2, server supports multi-use
* Connection state changed (HTTP/2 confirmed)
* Copying HTTP/2 data in stream buffer to connection buffer after upgrade: len=0
* Using Stream ID: 1 (easy handle 0xa565a0)
> GET / HTTP/2
> Host: api.example.com
> User-Agent: curl/7.55.1
> Accept: */*
>
* Connection state changed (MAX_CONCURRENT_STREAMS updated)!
* http2 error: Invalid HTTP header field was received: frame type: 1, stream: 1, name: [content-security-policy], value: [
		default-src 'self' https://google.com https://youtube.com https://facebook.com https://fonts.google.com https://fonts.googleapis.com https://ssl.google-analytics.com https://ajax.googleapis.com https://www.google-analytics.com https://cdnjs.cloudflare.com https://code.jquery.com https://connect.facebook.net https://s.imgur.com https://imgur.com https://i.imgur.com https://500px.com https://drscdn.500px.org https://www.reddit.com https://www.flickr.com https://c1.staticflickr.com https://maxcdn.bootstrapcdn.com http://code.ionicframework.com https://cdn.fontawesome.com/;
		script-src 'self' 'unsafe-inline' 'unsafe-eval' ssl.google-analytics.com ajax.googleapis.com www.google-analytics.com assets.zendesk.com connect.facebook.net code.jquery.com;
		style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://fonts.googleapis.com https://assets.zendesk.com;
		img-src 'self' ssl.google-analytics.com www.google-analytics.com s-static.ak.facebook.com assets.zendesk.com data:;
		connect-src 'self';
		font-src 'self' https://themes.googleusercontent.com https://fonts.gstatic.com data:;
		object-src 'none';
		media-src 'self';
		form-action 'self';
		frame-src assets.zendesk.com www.facebook.com s-static.ak.facebook.com tautt.zendesk.com www.youtube.com;
		frame-ancestors 'self';
		report-uri https://example.report-uri.io/r/default/csp/enforce;
	]
* HTTP/2 stream 1 was not closed cleanly: PROTOCOL_ERROR (err 1)
* Closing connection 0
* TLSv1.2 (OUT), TLS alert, Client hello (1):
curl: (92) HTTP/2 stream 1 was not closed cleanly: PROTOCOL_ERROR (err 1)


Why are comments being added here? This issue was fixed a long time ago, and clearly the new issue described of late is an entirely different one.

Apologies, I will create a new issue. I initially thought it was the same issue. But turns out it was not. 

you can use git `ssh://` ,don't use `https://` 