GOAWAY is sent instead of stream RST when too many concurrent streams

According to RFC 7540, Section 5.1.2,:

 "An endpoint that receives a HEADERS frame that causes its advertised concurrent stream limit to be exceeded MUST treat this as a stream error (Section 5.4.2) of type PROTOCOL_ERROR or REFUSED_STREAM."

On the other hand, Nghttp2 sends GOAWAY and terminates the session leaving no way to finish already open valid streams. 

We met with this issue on Windows 10, where Internet Explorer (possible bug) rendered the page broken. When rewritten to send RST_STREAM with STREAM_REFUSED_ERROR, the page well recovered.

Please, consider switching to stream error as stated in RFC.


It is ok for implementation to treat this kind of error as connection error.  There is good reason for this: eliminate broken implementation.  We've suffered from this in HTTP/1.1.

That said, if you encounter this after server sends GOAWAY for graceful shutdown, it is a regression, and has been fixed in v1.14.1.


If I understand correctly, in version 1.13.0, a GOAWAY with TERM_ON_SEND flag is sent, which is not a graceful shutdown. Any subsequent calls to session_predicate_for_stream_send fail with NGHTTP2_ERR_SESSION_CLOSING blocking frames of already opened streams.

Please, could you help me how to do a graceful shutdown in this case? Thank you.

Could you, please, tell me how to send graceful GOAWAY in this case? Thank you in advance.

If I understand this issue correctly, the root cause is a bug of client application.  Doing graceful shutdown does not help.

If you are interested in graceful shutdown itself, refer to https://nghttp2.org/documentation/nghttp2_submit_shutdown_notice.html

I'm sorry, but we can't afford taking user as hostage no matter how "noble" the reason is. Especially if the server handles this specific cause the graceful way. What the user does first is shut our proxy down rendering us malfunctioning and not the browser. Compliance of your library to the RFC would help complete at least ongoing streams and give the browser chance to react. 

But this is not a major problem so we'll stick to the customized version of your library.