Base64 vs. Base64Url

Hi,
not sure if it's curl or nghttp2 problem.
The HTTP/2.0 request sent by curl looks like:
    HttpRequestPacket (
       method=GET
       url=/download/1
       query=null
       protocol=HTTP/1.1
       content-length=-1
       headers=[
          user-agent=curl/7.38.0-DEV
          host=localhost:7070
          accept=_/_
          connection=Upgrade, HTTP2-Settings
          upgrade=h2c-13
          http2-settings=AAMAAABkAAQAAP//]
    )

as we see the HTTP2-Settings value is "AAMAAABkAAQAAP//", where according to the HTTP/2.0 draft 13:
"The content of the "HTTP2-Settings" header field is the payload of a
   SETTINGS frame (Section 6.5), encoded as a base64url string (that is,
   the URL- and filename-safe Base64 encoding described in Section 5 of
   [RFC4648]"

in section 5 of [RFC4648] there is no slash symbol in the Base64Url table, this symbol only exists in Base64 table, but as I mentioned HTTP/2.0 has to use Base64Url.

Thank you!
