HTTP2 PROTOCOL_ERRORs with proxy-connection header in the response

If the response from an intermediate contains the `proxy-connection` header one receives a protocol error as can be seen in the output from curl:

```
* http2 error: Invalid HTTP header field was received: frame type: 1, stream: 1, name: [proxy-connection], value: [keep-alive]
```

From the programmers guide I figure that this is an intentional decision. However, I feel that this is not RFC compliant. The standard says in 8.1.2.2:

```
   This means that an intermediary transforming an HTTP/1.x message to
   HTTP/2 will need to remove any header fields nominated by the
   Connection header field, along with the Connection header field
   itself.  Such intermediaries SHOULD also remove other connection-
   specific header fields, such as Keep-Alive, Proxy-Connection,
   Transfer-Encoding, and Upgrade, even if they are not nominated by the
   Connection header field.
```

So for `Proxy-Connection` and others it's a SHOULD and not a MUST as it is for `Connection`.

Wanted to ask whether that violation is intentional or was an oversight?

RFC 7540 has the text that sender MUST NOT send connection specific header fields.  It is located just above the paragraph you quoted:

```
   HTTP/2 does not use the Connection header field to indicate
   connection-specific header fields; in this protocol, connection-
   specific metadata is conveyed by other means.  An endpoint MUST NOT
   generate an HTTP/2 message containing connection-specific header
   fields; any message containing connection-specific header fields MUST
   be treated as malformed (Section 8.1.2.6).
```

Although, it does not specifically mention Proxy-Connection, the paragraph you quoted says that it is one of connection-specific header fields.  So header fields containing such header field is treated as malformed, and subject to be treated as error.


BTW, RFC 7230 discourages clients from sending Proxy-Connection header field , by saying:

```
   One attempted solution was the introduction of a Proxy-Connection
   header field, targeted specifically at proxies.  In practice, this
   was also unworkable, because proxies are often deployed in multiple
   layers, bringing about the same problem discussed above.

   As a result, clients are encouraged not to send the Proxy-Connection
   header field in any requests.
```


@tatsuhiro-t thanks for your fast reply.

As far as I understand 

 > An endpoint MUST NOT generate an HTTP/2 message containing connection-specific header fields;

relates to headers that are mentioned in the `Connection` header (connection related). That's why they mention the other headers later specifically.

So if `Proxy-Connection` is mentioned in the `Connection` header then it MUST be removed. If it isn't, it SHOULD. 


I understand your logic.  I think the spec can be read in that way.

Still, in my opinion, 

> other connection-specific header fields, such as Keep-Alive, Proxy-Connection, Transfer-Encoding, and Upgrade,

says that Proxy-Connection is one of connection-specific header field, and

>  An endpoint MUST NOT generate an HTTP/2 message containing connection-specific header fields.

And

> any message containing connection-specific header fields MUST be treated as malformed

It would be best to ask the clarification in httpbis mailing list.



To make it more complex, one of the "connection-specific headers" mentioned in [8.1.2.2](https://tools.ietf.org/html/rfc7540#section-8.1.2.2) is `Transfer-Encoding` header, which is part of [HPACK's Static Table Definition](https://tools.ietf.org/html/rfc7541#appendix-A), which clearly indicates that it can be sent over HTTP/2.

Yes, the specification isn't very clear here.

HPACK static table definition does not implies that all listed header fields can appear in HTTP/2 traffic.  In HTTP/2 development, there were several times that it should be updated to remove any prohibited header names, but it didn't happen because we had high bar to change already working stuff.

Ah, that's unfortunate. Thanks for the history lesson!

I think that we should consider `proxy-connection` header as a connection-specific header even though HTTP/1.1 does not name it as such, due to following reasons:
* it's semantics is connection-specific
* `proxy-connection` header was not standardized, so we cannot assume that the specification to cover how the header needs to be handled

Note also that use of the header is discouraged in RFC 7230 A.1.2.

I also think that we should, unless there is a good reason to do the opposite, retain the strict behavior of nghttp2 in align with the spirit of RFC 7540 section 8.1.2.6:
> Note that these requirements are intended to protect against several types of common attacks against HTTP; they are deliberately strict because being permissive can expose implementations to these vulnerabilities.

Thanks all, think this has been some great discussion. Main reason for my question was to gain some info.

It's always the same in relation to RFC compliance/interpretation, you just have to chose a stance. Think nghttp is chosing the stricter side here. 

On the browser side, Chrome and Firefox work just fine with `proxy-connection` headers in the reponse while Safari just bails out. Not sure about edge.

