Handling of incoming invalid header field

Currently, when nghttp2 library find that decoded header field violates RFC 7230, section 3.2, we just ignores them, and not report it to application as if we have not received them.

I thought this is fine, but we could be more strict, since HTTP/2 is new protocol, and implementation is written in 2015 or later.  We could require them to do the right thing.  And personally, I lean to that, zero tolerance rule.

I just tested Firefox stable, and when it receives bad header field, it just ignores it, this is the same behaviour of current nghttp2.  nghttp2 is a library, and could be used for browsers.  If this kind of behaviour is desirable, whatever the reason that is, it would be good that we keep the current form.

As suggested by @icing , the best thing is add new option for the application to decide how to do with the bad header.  Perhaps, new option and new callback.


As you noted, clients/browsers have different preferences here from other apps like servers. I would like Apache to enforce strict http2 rules by default, where the admin can relax them via configuration.

If libnghttp2 offers any options/callbacks, I'd be happy to use them.

Thank you for comments.
We will give you a way to make apache strict about header field.
The thing is that whether we should change the default behaviour of nghttp2.  Currently, we ignores invalid header field (for pseud-header fields, and some HTTP/2 specific rules, we are already strict), and continues operation.  Should we make the default behavior strict mode, that is make stream stream error as soon as we see such header field?  

It's ok for me if the default stays as it is. No need to break it for your users.

Thank you.  It works for me too.  Will make a PR soon to add new functionality to give an application how to treat invalid header fields.

BTW, since HTTP/2 requires rather strict rule for header field names, which is the subject of yesterday's topic, I think it will be ok-ish that we enforce strict validation for header field name only.
For header field values, when something broken is passed which is currently silently ignored, we will pass them to application.

I submitted PR #646.
The strict handling of header name is not included there.  Revisit it in a separate thread.

So in this PR, we introduced nghttp2_on_invalid_header_callback.  This is very similar to nghttp2_on_header_callback, but the former is only called for invalid header fields.
You can reset stream by simply returning NGHTTP2_ERR_TEMPORAL_CALLBACK_FAILURE.
In this case, RST_STREAM with INTERNAL_ERROR will be sent to the peer.
If other error code is desirable, use nghttp2_submit_rst_stream() with desired error code, and return NGHTTP2_ERR_TEMPORAL_CALLBACK_FAILURE.


#646 fixed this issue.

Used in [mod_h2 v1.6.1](https://github.com/icing/mod_h2/releases/tag/v1.6.1) and onwards. Thanks!