Wrong behavior when receiving SETTINGS with ACK flag

When the `nghttp2_session_mem_recv` function is waiting for the acknowledgment of the first SETTINGS frame, it should expect the ACK flag to be set. The problem is that it is expecting the flag NOT to be set.

That is, when handling the case `NGHTTP2_IB_READ_FIRST_SETTINGS`, it will do the following check (the additional comment is mine):

```c
      if (iframe->sbuf.pos[3] != NGHTTP2_SETTINGS ||
          (iframe->sbuf.pos[4] & NGHTTP2_FLAG_ACK)) {
      // ... it then proceeds to send a GOAWAY with "SETTINGS expected"
```

but it should do the following instead (note the `!` added to the second line):

```c
      if (iframe->sbuf.pos[3] != NGHTTP2_SETTINGS ||
          !(iframe->sbuf.pos[4] & NGHTTP2_FLAG_ACK)) {
```

RFC 7540 states the following in section 6.5.3 "Settings Synchronization" (emphasis are mine):

> Once all values have been processed, the recipient MUST immediately **emit a SETTINGS frame with the ACK flag set**.  Upon receiving a SETTINGS frame **with the ACK flag set**, the sender of the altered parameters can rely on the setting having been applied.

Some context:

I am making an HTTP/2 web server from scratch and testing against different clients. My server does send the SETTING back with the ACK flag set. It works fine in Google Chrome and Firefox -- in fact it works fine with or without the ACK flags, which is weird. But it doesn't work with the curl client (which uses nghttp2).

When my server responds with the ACK flag set, nghttp2 sends a GOAWAY with the "SETTINGS expected" message. When it responds without the ACK flag, which is wrong according to my understaing of the RFC, it works fine.

Indeed, I was not sending the first SETTINGS header. Section 3.5 of RFC 7540 states that:

> The server connection preface consists of a potentially empty SETTINGS frame (Section 6.5) that MUST be the first frame the server sends in the HTTP/2 connection.

This is not an issue, so I'm closing this.


How did you get nghttp2 to not send automatically response to receiving SETTINGS frame with a SETTINGS frame of its own that has ACK set?

And then how did you end up getting your server to send a SETTINGS header before it receives the magic string (PRI *) and subsequent SETTINGS frame from the client?

@jfolker I didn't do any of those.
What happened is that my server had a bogus behavior. The first thing the server has to do once the HTTP/2 connection is established (either after the PRI * magic string, or by previously knowing the protocol like in the case of ALPN) is to send a SETTINGS frame, which can be empty.

But while implementing my HTTP/2 server, I mad misinterpreted the RFC and I thought that the first thing the server needed to do was to acknowledge the incoming SETTINGS frame from the client by sending an empty SETTINGS frame with the ACK flag set.

Thus, nghttp2 was right and my server, by sending a SETTINGS frame with ACK set as the first thing, was bogus.





Thanks for responding! :-)

In my own nghttp2-based server, for some reason nghttp2 is building a SETTINGS frame w/ ACK automagically. I have no idea how to make it stop, but sending my own SETTINGS frame first produced the exact same result.

Using wireshark, I captured all the inbound and outbound TCP traffic from running curl 7.63.0. I ran 'curl --Ik --http2-prior-knowledge' against (1) http://nghttp2.org, (2) a version of my server which sends SETTINGS w/ ACK set to do its side of negotiation, and (3) another version of my server which sends its own SETTINGS frame without waiting for the client. I left the output (w/ annotations) in 3 text files below, nothing about the SETTINGS frame sent to the client looks malformed: all the options are set to valid values according to RFC 7540, and the payload length specified in the frame header matches the payload length.

Here is some verbose output as well, the result is the same for both versions of my server:
`jfolker-l> curl -k -v --http2-prior-knowledge -I localhost:24213`
`*   Trying ::1...`
`* TCP_NODELAY set`
`* Connected to localhost (::1) port 24213 (#0)`
`* Using HTTP2, server supports multi-use`
`* Connection state changed (HTTP/2 confirmed)`
`* Copying HTTP/2 data in stream buffer to connection buffer after upgrade: len=0`
`* Using Stream ID: 1 (easy handle 0x2308930)`
`> HEAD / HTTP/2`
`> Host: localhost:24213`
`> User-Agent: curl/7.63.0`
`> Accept: */*`
`> `
`* http2 error: Remote peer returned unexpected data while we expected SETTINGS frame.`  `Perhaps, peer does not support HTTP/2 properly.`
`* Connection #0 to host localhost left intact`
`curl: (16) Error in the HTTP2 framing layer`
`jfolker-l> `

What did you send to the client to appease it?

[good-neg.txt](https://github.com/nghttp2/nghttp2/files/4205482/good-neg.txt)
[bad-neg-no-settings.txt](https://github.com/nghttp2/nghttp2/files/4205485/bad-neg-no-settings.txt)
[bad-neg-settings.txt](https://github.com/nghttp2/nghttp2/files/4205487/bad-neg-settings.txt)




One observation I might add from the TCP traffic dumps I uploaded is that in the successful negotiation with http://nghttp2.org, the server sends a SETTINGS frame of its own with its own flags immediately followed by an empty SETTINGS w/ the ACK set to acknowledge the SETTINGS frame received from the client in its connection preface.

If your server managed to do this to appease the client, how did you manage to make it do so?