Does ngtthp2 server supports HTTP Upgrade mechanism?

I am using nghttp2-1.32.0 to setup an http server.
According to RFC7540, 3.2 Starting HTTP/2 for "http" URIs, A client that makes a request for an "http" URI without prior knowledge about support for HTTP/2 on the next hop uses the HTTP Upgrade mechanism (Section 6.7 of [RFC7230]). 
   For example:

     GET / HTTP/1.1
     Host: server.example.com
     Connection: Upgrade, HTTP2-Settings
     Upgrade: h2c
     HTTP2-Settings: <base64url encoding of HTTP/2 SETTINGS payload> 
Is this supported by nghttp2? From my testing, with prior h2c works, but http upgrade mechnism does not work.
bash-4.4# curl --http2 -k -i -m 3 -X GET -H'content-type:application/json' 'http://172.17.0.5:8444/httpbin/get' -v
Note: Unnecessary use of -X or --request, GET is already inferred.
*   Trying 172.17.0.5...
* TCP_NODELAY set
* Connected to 172.17.0.5 (172.17.0.5) port 8444 (#0)
> GET /httpbin/get HTTP/1.1
> Host: 172.17.0.5:8444
> User-Agent: curl/7.60.0
> Accept: */*
> Connection: Upgrade, HTTP2-Settings
> Upgrade: h2c
> HTTP2-Settings: AAMAAABkAARAAAAAAAIAAAAA
> content-type:application/json
>
* Empty reply from server
* Connection #0 to host 172.17.0.5 left intact
curl: (52) Empty reply from server
bash-4.4#
bash-4.4#
bash-4.4# curl --http2-prior-knowledge -k -i -m 3 -X GET -H'content-type:application/json' 'http://172.17.0.5:8444/httpbin/get' -v
Note: Unnecessary use of -X or --request, GET is already inferred.
*   Trying 172.17.0.5...
* TCP_NODELAY set
* Connected to 172.17.0.5 (172.17.0.5) port 8444 (#0)
* Using HTTP2, server supports multi-use
* Connection state changed (HTTP/2 confirmed)
* Copying HTTP/2 data in stream buffer to connection buffer after upgrade: len=0
* Using Stream ID: 1 (easy handle 0x55f6a5cc4340)
> GET /httpbin/get HTTP/2
> Host: 172.17.0.5:8444
> User-Agent: curl/7.60.0
> Accept: */*
> content-type:application/json
>
* Connection state changed (MAX_CONCURRENT_STREAMS == 100)!
< HTTP/2 200
HTTP/2 200

<
* Connection #0 to host 172.17.0.5 left intact

I found a description about nghttpd deos not support HTTP UPGRADE. So I assume that is same via python nghttp2.